body{
    background-color: black;
}
h1{
    color: cornflowerblue;
    text-align: center;
    font-family: monospace;
}
#solar_system{
    position: absolute;
    height: 400px;
    width: 400px;
    top: 50%;
    left: 50%;
}

#sun{
    position: absolute;
    width: 40%;
    height: 40%;
}

#sun img{
    position: relative;
    top: -50%;
    left: -50%;
    width: 100%;
}

.earth_orbit{
    position: absolute;
    left: -50%;
    top: -50%;
    margin:0 auto;
    width:100%;
    height: 100%;
    animation: rotate 60s infinite linear;
}

.earth_orbit img{
    height: 100%;
    width: 100%;
}

#earth{
    width: 3%;
    height: 3%;
    position: relative;
    top: -3%;
    left: 50%;
}

#mun{
    background-image: url("../img/p-mercury.png");
    width: 30px;
    height: 30px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
